name: 'Wrangler'

on:
  push:
    branches: ['main']

permissions:
  contents: read

jobs:
  run-build:
    uses: ./.github/workflows/svelte.yml

  deploy-preview:
    name: 'deploy-preview'
    runs-on: ubuntu-latest

    needs: run-build

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Built UI
        uses: actions/download-artifact@v5

      - name: wrangler
        run: npx wrangler

      - name: list
        run: ls -a
