name: 'Wrangler-Deploy'

on:
  push:
    branches: ['main']

permissions:
  contents: read

jobs:
  run-build:
    uses: ./.github/workflows/svelte.yml

  deploy:
    name: 'deploy-preview'
    runs-on: ubuntu-latest

    needs: run-build

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Built UI
        uses: actions/download-artifact@v5
        with:
          name: svelte-build
          path: build

      - name: NPM Install
        run: npm install

      - name: Migrations
        run: npx wrangler d1 migrations apply calmmystreet-db --remote
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}

      - name: wrangler
        run: npx wrangler deploy --env=""
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
